<div id="pengesahan-detail">
    <div class="row">
            <div class="col-sm-6">
                <h6 class="bold title">Pesan Notifikasi</h6>
                <div class="bottom-border"></div>
            </div>
    </div>
        <div class="row pengesahan-form">
            <div class="col-sm-12 bold">Dari: </div>
            <p class="col-sm-12">
                Zhang Hehe
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12 bold">Tanggal: </div>
            <p class="col-sm-12">20 Agustus 2019 20:00:00</p>
        </div>
        <div class="row">
            <div class="col-sm-12 bold">Pesan: </div>
            <p class="col-sm-12">
               ini pesan
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12 bold">Detail: </div>
            <div class="col-sm-6">
                <ul>
                    <li ng-repeat="d in detail track by $index">
                            <a ng-click="toogleShown($index)">{{d.label}}</a>
                            <table ng-show="shownTables[$index]" ng-if="d.type==='update' || d.type==='create' " class="table table-bordered">
                                <thead>
                                    <th ng-repeat="h in getHeader(d)">{{h}}</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in d.changes">
                                        <td ng-repeat="(key,value) in data">{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                    </li>
                </ul>

            </div>
        </div>

</div>

