<div id="pengesahan-detail">
        <div class="row">
                <div class="col-sm-6">
                    <h6 class="bold title">Ini Subjek</h6>
                    <div class="bottom-border"></div>
                </div>
        </div>
            <div class="row pengesahan-form">
                <div class="col-sm-12 bold">Dari: </div>
                <p class="col-sm-12">
                    Imam Abdul
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12 bold">Tanggal: </div>
                <p class="col-sm-12">20 Agustus 2019</p>
            </div>
            <div class="row">
                <div class="col-sm-12 bold">Pesan: </div>
                <p class="col-sm-12">
                    Ini Pesan
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12 bold">Status Pengesahan: </div>
                <div class="col-sm-12">
                        <label class="checkbox-inline"><input type="checkbox">Orang 1</label>
                </div>

            </div>

</div>