<div id="pengesahan-notifikasi">

    <div class="row">
        <h6 class="bold title">Notifikasi</h6>
        <div class="bottom-border"></div>

        <table class="table table-hover table-beranda">
            <thead>
                <tr>
                    <th>Dari</th>
                    <th>Subjek</th>
                    <th>Tanggal</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bold">
                    <td>Zhang Hehe</td>
                    <td> <a href="#!pengesahan/detail">Permintaan perubahan notifikasi hehe</a></td>
                    <td>15 Agustus 2019</td>
                    <td>Belum disetujui</td>
                </tr>
                <tr>
                    <td>Zhang Hehe</td>
                    <td>Permintaan perubahan notifikasi hehe</td>
                    <td>15 Agustus 2019</td>
                    <td>Belum disetujui</td>
                </tr>
                <tr>
                    <td>Zhang Hehe</td>
                    <td>Permintaan perubahan notifikasi hehe</td>
                    <td>15 Agustus 2019</td>
                    <td>Belum disetujui</td>
                </tr>
                <tr>
                    <td>Zhang Hehe</td>
                    <td>Permintaan perubahan notifikasi hehe</td>
                    <td>15 Agustus 2019</td>
                    <td>Belum disetujui</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>