<div id="pengesahan-notifikasi">

    <div class="row">
        <h6 class="bold title">Notifikasi</h6>
        <div class="bottom-border"></div>

        <table class="table table-hover table-beranda">
            <thead>
                <tr>
                    <th>Dari</th>
                    <th>Subjek</th>
                    <th>Tanggal</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bold" ng-repeat="notification in notifications.data track by $index">
                    <td>{{notification.from}}</td>
                    <td> <a ng-click="toNotification(notification)" class="a-pengesahan">{{notification.subject}}</a></td>
                    <td>{{notification.date}}</td>
                </tr>

            </tbody>
        </table>

        <span ng-show="hasLoad" >  
            <button class="btn btn-default" ng-click="prevPage()" ng-disabled="isLoading || page===1 "> < </button>
            <span> Halaman {{page}} dari {{totalPage}} </span>
            <button class="btn btn-default" ng-click="nextPage()" ng-disabled="isLoading || page===totalPage"> > </button>
        </span>
            

    </div>

</div>