<div id="pengesahan-notifikasi">

    <div class="row">
        <h6 class="bold title">Notifikasi 通知</h6>
        <div class="bottom-border"></div>

        <div class="notifikasi-content">
                <table class="table table-hover table-beranda">
                        <thead>
                            <tr>
                                <th class="other-column">Dari 从</th>
                                <th class="subject-column">Subjek 主题</th>
                                <th class="other-column">Tanggal 日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="!notification.read_at?'bold':''" ng-repeat="notification in notifications track by $index">
                                <td class="other-column">{{notification.from}}</td>
                                <td class="subject-column"> <a ng-click="toNotification(notification)" class="a-pengesahan">{{notification.subject}}</a></td>
                                <td class="other-column">{{notification.date}}</td>
                            </tr>
            
                        </tbody>
                    </table>
        </div>


        <span ng-show="hasLoad && totalPage!==0 " >  
            <button class="btn btn-default" ng-click="prevPage()" ng-disabled="isLoading || page===1 "> < </button>
            <span> Halaman 页面 {{page}} dari 从 {{totalPage}} </span>
            <button class="btn btn-default" ng-click="nextPage()" ng-disabled="isLoading || page===totalPage"> > </button>
        </span>
            

    </div>

</div>