<div id="pengesahan-baru">
    <div class="row">
        <div class="col-sm-6">
            <h6 class="bold title">Permintaan Perubahan Status Pengesahan</h6>
            <div class="bottom-border"></div>
        </div>
    </div>
    <div class="row pengesahan-form">
        <div class="col-sm-8">
                <div class="form-group">
                        <label for="subjek">Subjek:</label>
                        <input type="text" id="subjek" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="kepada">Kirim ke:</label>
                        <select class="form-control" id="kepada">
                            <option>Zhang Hehe</option>
                            <option>Zhang Haha</option>
                            <option>Zhang Komar</option>
                            <option>Zhang Liu Bei</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="pesan">Pesan:</label>
                        <textarea id="pesan" class="form-control" rows="5"></textarea>
                    </div>
                    <button class="btn btn-success">Kirim</button>
        </div>

    </div>
</div>