<div class="padding-elem"></div>
<div id="realisasi">

        <div class="table-100 heading-content" >
                <div class="row">
                        <div class="col-xs-3">{{ employee.role.name}}</div>
                        <div class="col-xs-2">: {{employee.name}}</div>
                        <div class="col-xs-4">当月考核期 Periode bulan berjalan</div>
                        <div class="col-xs-3">: {{ pb.start }} - {{ pb.end }}</div>
                </div>
                <div class="row" style="margin-top:10px;">
                        <div class="col-xs-3">{{ atasan.role.name}}</div>
                        <div class="col-xs-2">: {{ atasan.name}}</div>
                        <div class="col-xs-4">当月累计考核期 Periode Kumulatif sampai bulan berjalan</div>
                        <div class="col-xs-3">: {{ pb.startB }} - {{ pb.endB }}</div>
                </div>


        </div>
        <div class="table-100" style="margin-top:30px;">
                <div class="row">
                        <div class="col-sm-4">
                                <a ng-click="downloadPDF()"><span class="glyphicon glyphicon-download black-font"></span></a>
                                Pilih Bulan:
                               <select ng-options="m.value for m in months" ng-model="currentMonth"></select>
                               Pilih Tahun:
                               <select ng-options="y for y in years" ng-model="currentYear"></select>
                               <a ng-click="changeDate()"><span class="glyphicon glyphicon-chevron-right black-font"></span></a>
                        </div>
                </div>
                

        </div>
    <div class="table-100">
        <p class="bold table-title">
            <div class="dropright" >
                <a class="dropdown-toggle" ng-hide="hasEndorse" data-toggle="dropdown" aria-hidden="true"> <span class="glyphicon glyphicon-option-vertical black-font"></span></a>
                1. Sasaran Hasil <span contenteditable="{{!hasEndorse}}" after-edit="setWeight" flag="kpiresult" notify-g-label="add-content" belong-to="display_weights.weight_result" format="addPercent"></span>
                 <ul class="dropdown-menu">
                        <li>
                            <a ng-click="addRow()" ng-hide="dlt_result.toogle_delete" ng-disabled="hasChanged">
                                <span class="glyphicon glyphicon-plus"></span>    Tambah Baris
                            </a>
                        </li>
                        <li>
                            <a ng-click="toogleDelete(dlt_result)" ng-disabled="hasChanged">
                                <span class="glyphicon glyphicon-minus"></span>     {{dlt_result.dlt_message}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="undoData()">
                                <span class="glyphicon glyphicon-chevron-left"></span>     Batal
                            </a>
                        </li>
                        <li>
                            <a ng-click="redoData()">
                                <span class="glyphicon glyphicon-chevron-right"></span>     Balik
                            </a>
                        </li>
                </ul>
            </div>
        </div>


        </p>
        <div class="table-realisasi-div">
            <table class="table table-striped realisasi-table">
                <thead>
                        <tr>
                            <th class="f-column-num f-column light-grey" rowspan="2">序号 No.</th>
                            <th class="kpi f-column light-grey" rowspan="2">绩效考核关键指标 Key Performance Indicator</th>
                            <th class="f-column light-grey" rowspan="2">单位 Unit</th>
                            <th colspan="2" class="light-blue">{{currendDate.getFullYear()}}年责任权重 Performance Weighing {{currendDate.getFullYear()}}</th>
                            <th colspan="4" class="top-column light-grey">{{currendDate.getFullYear()}}年绩效目标 Performance Target {{currendDate.getFullYear()}}</th>
                            <th colspan="4" class="top-column light-blue">{{currendDate.getFullYear()}}年实行情况 Realization {{currendDate.getFullYear()}}</th>
                            <th colspan="2" class="light-grey">{{currendDate.getFullYear()}}年绩效考核指标完成率 KPI Achievement {{currendDate.getFullYear()}}</th>
                            <th colspan="2" class="light-blue">年绩效考核指标完成率 x 年责任权重 Achievement x Weighing</th>
                        </tr>
                        <tr>
                            <th ng-repeat="h in headerLabel track by $index" ng-class="getHeaderColor($index)">{{h}}</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr ng-repeat="d in data track by $index" ng-init="c_index=0;outerIndex=$index">
                                <td class="num"><span ng-if="!dlt_result.toogle_delete">{{$index+1}}</span><button class="btn btn-danger" ng-if="dlt_result.toogle_delete" ng-click="deleteRow($index)">X</button></td>
                                <td class="kpi" belong-to="d.name" after-edit="setBColor|mapChange" contenteditable="{{d.name_contentEditable}}" data-flag="name"
                                on-data-paste="dataPaste" on-data-copy="dataCopy" on-data-escaped="dataEscaped" on-data-selected="dataSelected"
                                notify-g-label="realisasi-content:kpi-{{outerIndex}}" ng-class="d.kpiColor" i-index="name" c-index="{{c_index}}" d-index="{{$index}}"></td>

                                <td class="center-text" belong-to="d.unit" after-edit="setDataFilter|mapChange" contenteditable="{{d.unit_contentEditable}}" data-flag="unit"
                                on-data-paste="dataPaste" on-data-copy="dataCopy" on-data-escaped="dataEscaped" on-data-selected="dataSelected"
                                notify-g-label="realisasi-content:unit-{{outerIndex}}" ng-class="d.unitColor" i-index="unit" c-index="{{c_index+1}}" d-index="{{$index}}"></td>

                                <td ng-repeat="i in pw_indices" belong-to="d[i]" data-flag="pw"
                                on-data-paste="dataPaste" on-data-copy="dataCopy" on-data-escaped="dataEscaped" on-data-selected="dataSelected"
                                contenteditable="{{d.pw_contentEditable[$index]}}" c-index="{{c_index+2+$index}}" i-index="{{i}}"
                                auto-fill="true" sanitize="{{d.pw_sanitize}}" format="{{d.pw_filter}}" ng-class="d['bColor_'+i]"
                                 after-edit="setBColor|setTotalW|mapChange" notify-g-label="realisasi-content:pw-{{outerIndex}}-{{i}}" d-index="{{$parent.$index}}"></td>

                                <td ng-repeat="i in pt_indices" belong-to="d[i]" data-flag="pt" on-data-paste="dataPaste" on-data-copy="dataCopy"
                                on-data-escaped="dataEscaped" on-data-selected="dataSelected" ng-class="d['bColor_'+i]"
                                contenteditable="{{d.pt_contentEditable[$index]}}" auto-fill="true" sanitize="{{d.pt_sanitize}}" i-index="{{i}}"
                                format="{{d.pt_filter}}" after-edit="setBColor|mapChange" notify-g-label="realisasi-content:pt-{{outerIndex}}-{{i}}"
                                d-index="{{$parent.$index}}" c-index="{{c_index+4+$index}}" ></td>

                                <td ng-repeat="i in real_indices" belong-to="d[i]" data-flag="real" on-data-paste="dataPaste" on-data-copy="dataCopy"
                                on-data-escaped="dataEscaped" on-data-selected="dataSelected" ng-class="d['bColor_'+i]"
                                contenteditable="{{d.real_contentEditable[$index]}}" auto-fill="true" sanitize="{{d.real_sanitize}}" i-index="{{i}}"
                                format="{{d.real_filter}}" c-index="{{c_index+8+$index}}" after-edit="setBColor|mapChange" notify-g-label="realisasi-content:real-{{outerIndex}}-{{i}}"
                                d-index="{{$parent.$index}}"></td>


                                <td ng-repeat="i in kpia_indices" belong-to="d[i]" data-flag="kpia" on-data-paste="dataPaste"
                                on-data-escaped="dataEscaped" on-data-selected="dataSelected" ng-class="d['bColor_'+i]"
                                contenteditable="{{d.kpia_contentEditable[$index]}}" auto-fill="true" sanitize="{{d.kpia_sanitize}}"
                                format="{{d.kpia_filter}}" after-edit="setBColor|mapChange" notify-g-label="realisasi-content:kpia-{{outerIndex}}-{{i}}"
                                d-index="{{$parent.$index}}" i-index="{{i}}"></td>

                                <td ng-repeat="i in aw_indices" belong-to="d[i]" data-flag="aw" on-data-paste="dataPaste"
                                on-data-escaped="dataEscaped" on-data-selected="dataSelected"
                                contenteditable="{{d.aw_contentEditable}}" auto-fill="true" sanitize="{{d.aw_sanitize}}"
                                format="{{d.aw_filter}}" after-edit="setBColor|mapChange" notify-g-label="realisasi-content:aw-{{outerIndex}}-{{i}}"
                                d-index="{{$parent.$index}}"></td>
                            </tr>
                            <tr>
                                <td class="num"></td>
                                <td colspan="3" class="center-text bold">责任权重总数 TOTAL BOBOT :</td>
                                <td ng-repeat="i in [] |range:2" notify-g-label="add-content">{{totalW[i]}}%</td>
                                <td colspan="7"></td>
                                <td colspan="2" class="right-text bold">Total Achievement 总成就: </td>
                                <td class="center-text" notify-g-label="add-content" belong-to="totalAchieveMent.t1" format="addPercent"></td>
                                <td class="center-text" notify-g-label="add-content" belong-to="totalAchieveMent.t2" format="addPercent"></td>
                            </tr>
                            <tr>
                                <td class="num"></td>
                                <td colspan="12"></td>
                                <td colspan="2" class="right-text bold">Index 分数:</td>
                                <td class="center-text" notify-g-label="add-content" belong-to="IndexAchieveMent.t1"></td>
                                <td class="center-text" notify-g-label="add-content" belong-to="IndexAchieveMent.t2"></td>
                            </tr>
                    </tbody>
        </table>
        </div>

        <div flex="30">
                <button class="btn btn-danger" ng-hide="hasEndorse || !dlt_result.toogle_delete" ng-click="toogleDelete(dlt_result)" ng-disabled="hasChanged">{{dlt_result.dlt_message}}</button>
        </div>

        <div>{{changedMessage}}</div>

        <p class="bold table-title">
                    <div class="dropright">
                            <a class="dropdown-toggle" ng-hide="hasEndorse" data-toggle="dropdown" aria-hidden="true"> <span class="glyphicon glyphicon-option-vertical black-font"></span></a>
                            2. Sasaran Proses <span notify-g-label="add-content" contenteditable="{{!hasEndorse}}" after-edit="setWeight" flag="kpiprocess"  belong-to="display_weights.weight_process" format="addPercent"></span>
                             <ul class="dropdown-menu">
                                    <li>
                                        <a ng-click="addPRow()" ng-hide="dlt_process.toogle_delete" ng-disabled="hasChanged">
                                            <span class="glyphicon glyphicon-plus"></span>    Tambah Baris
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="toogleDelete(dlt_process)" ng-disabled="hasChanged">
                                            <span class="glyphicon glyphicon-minus"></span>     {{dlt_process.dlt_message}}
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ng-click="undoDataP()">
                                            <span class="glyphicon glyphicon-chevron-left"></span>     Batal
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="redoDataP()">
                                            <span class="glyphicon glyphicon-chevron-right"></span>     Balik
                                        </a>
                                    </li>
                            </ul>
                        </div>

        </p>
        <div class="table-realisasi-div">
            <table class="table table-striped realisasi-table">
                <thead>
                        <tr>
                            <th class="f-column f-column-num light-grey" rowspan="2">序号 No.</th>
                            <th class="kpi-process f-column light-grey" rowspan="2">核心竞争力 Kompetensi Inti</th>
                            <th class="f-column light-grey" rowspan="2">单位 Unit</th>
                            <th colspan="2" class="light-blue">{{currendDate.getFullYear()}}年责任权重 Performance Weighing {{currendDate.getFullYear()}}</th>
                            <th colspan="2" class="top-column light-grey">{{currendDate.getFullYear()}}年绩效目标 Performance Target {{currendDate.getFullYear()}}</th>
                            <th colspan="2" class="top-column light-grey">{{currendDate.getFullYear()}}年实行情况 Realization {{currendDate.getFullYear()}}</th>
                            <th colspan="2" class="light-blue">{{currendDate.getFullYear()}}年绩效考核指标完成率 KPI Achievement {{currendDate.getFullYear()}}</th>
                            <th colspan="2" class="light-blue">年绩效考核指标完成率 x 年责任权重 Achievement x Weighing</th>
                        </tr>
                        <tr>
                            <th ng-repeat="h in headerLabelProcess track by $index" ng-class="getHeaderColor($index)">{{h}}</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr ng-repeat="p in kpiprocesses">
                                 <td class="num"><span ng-if="!dlt_process.toogle_delete">{{$index+1}}</span><button class="btn btn-danger" ng-if="dlt_process.toogle_delete" ng-click="deleteRowP($index,false)">X</button></td>
                                 <td class="kpi-process" d-index="{{$index}}"  belong-to="p.name" auto-fill="true" contenteditable="false"></td>
                                 <td belong-to="p.unit" d-index="{{$index}}" after-edit="mapChangeP" on-data-paste="dataPasteP" on-data-escaped="dataEscapedP" on-data-copy="dataCopyP" notify-g-label="realisasi-content" on-data-selected="dataSelectedP" c-index="0" auto-fill="true" contenteditable="{{p.contentEditable.unit}}"></td>
                                 <td belong-to="p.pw_1" after-edit="setBColorP|setTotalW_P|mapChangeP" on-data-paste="dataPasteP" d-index="{{$index}}" on-data-escaped="dataEscapedP" notify-g-label="realisasi-content" on-data-copy="dataCopyP" on-data-selected="dataSelectedP"  c-index="1" data-flag="pw" format="{{p.pw_filter}}" auto-fill="true" contenteditable="{{p.contentEditable.pw_1}}"></td>
                                 <td belong-to="p.pw_2" ng-class="p.bColor_pw" after-edit="setBColorP|setTotalW_P|mapChangeP" on-data-paste="dataPasteP" d-index="{{$index}}" on-data-escaped="dataEscapedP" notify-g-label="realisasi-content" on-data-copy="dataCopyP" on-data-selected="dataSelectedP" c-index="2" data-flag="pw" format="{{p.pw_filter}}" auto-fill="true" contenteditable="{{p.contentEditable.pw_2}}"></td>
                                 <td belong-to="p.pt_1" after-edit="setBColorP|mapChangeP" on-data-paste="dataPasteP" d-index="{{$index}}" on-data-escaped="dataEscapedP" notify-g-label="realisasi-content" on-data-copy="dataCopyP" on-data-selected="dataSelectedP" c-index="3" auto-fill="true" data-flag="pt" contenteditable="{{p.contentEditable.pt_1}}"></td>
                                 <td belong-to="p.pt_2" ng-class="p.bColor_pt" after-edit="setBColorP|mapChangeP" on-data-paste="dataPasteP" d-index="{{$index}}" on-data-escaped="dataEscapedP" notify-g-label="realisasi-content" on-data-copy="dataCopyP" on-data-selected="dataSelectedP" c-index="4" auto-fill="true" data-flag="pt" contenteditable="{{p.contentEditable.pt_2}}"></td>
                                 <td belong-to="p.real_1" after-edit="setBColorP|mapChangeP" on-data-paste="dataPasteP" d-index="{{$index}}" on-data-escaped="dataEscapedP" notify-g-label="realisasi-content" on-data-copy="dataCopyP" on-data-selected="dataSelectedP" c-index="5" auto-fill="true" data-flag="real" contenteditable="{{p.contentEditable.real_1}}"></td>
                                 <td belong-to="p.real_2" ng-class="p.bColor_real" after-edit="setBColorP|mapChangeP" on-data-paste="dataPasteP" d-index="{{$index}}" on-data-escaped="dataEscapedP" notify-g-label="realisasi-content" on-data-copy="dataCopyP" on-data-selected="dataSelectedP"  c-index="6" auto-fill="true" data-flag="real" contenteditable="{{p.contentEditable.real_2}}"></td>
                                 <td belong-to="p.kpia_1" ng-class="p.bColor_kpia_1" on-data-paste="dataPasteP" auto-fill="true" data-flag="kpia" notify-g-label="realisasi-content" format="{{p.kpia_filter}}" contenteditable="{{p.contentEditable.kpia_1}}"></td>
                                 <td belong-to="p.kpia_2" ng-class="p.bColor_kpia_2" on-data-paste="dataPasteP" auto-fill="true" data-flag="kpia" notify-g-label="realisasi-content" format="{{p.kpia_filter}}" contenteditable="{{p.contentEditable.kpia_2}}"></td>
                                 <td belong-to="p.aw_1" auto-fill="true" data-flag="aw" on-data-paste="dataPasteP" notify-g-label="realisasi-content" contenteditable="{{p.contentEditable.aw_1}}" format="{{p.aw_filter}}"></td>
                                 <td belong-to="p.aw_2"auto-fill="true" data-flag="aw" on-data-paste="dataPasteP" notify-g-label="realisasi-content" contenteditable="{{p.contentEditable.aw_2}}" format="{{p.aw_filter}}"></td>
                            </tr>
                                <tr>
                                    <td class="num"></td>
                                    <td class="kpi-process bold">责任权重总数 TOTAL BOBOT :</td>
                                    <!-- <td class="center-text bold"></td> -->
                                    <td></td>
                                    <td ng-repeat="i in [] |range:2">{{totalW_P[i]}}%</td>
                                    <td colspan="4"></td>
                                    <td colspan="2" class="right-text bold">Total Achievement 总成就: </td>
                                    <td notify-g-label="add-content" format="addPercent" belong-to="totalAchieveMentP.t1"></td>
                                    <td notify-g-label="add-content" format="addPercent" belong-to="totalAchieveMentP.t2" ></td>
                                </tr>
                                <tr>
                                    <td class="num"></td>
                                    <td colspan="9"></td>
                                    <td colspan="2" class="right-text bold">Index 分数 :</td>
                                    <td notify-g-label="add-content" belong-to="IndexAchieveMentP.t1"></td>
                                    <td notify-g-label="add-content" belong-to="IndexAchieveMentP.t2"></td>
                                </tr>

                    </tbody>
        </table>
        </div>


        <div class="col-sm-4">
                <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="light-grey"></th>
                                <th class="light-grey">{{currentMonth.index!==0?f[currentMonth.index-1]:f[11]}}</th>
                                <th class="light-grey">{{f[currentMonth.index]}}</th>
                            </tr>
                            <tr>
                                <th class="light-grey f-column" rowspan="2">价值总额 TOTAL NILAI</th>
                                <th class="light-grey" notify-g-label="add-content" belong-to="finalAchievement.t1_n" format="addPercent"></th>
                                <th class="light-grey" notify-g-label="add-content" belong-to="finalAchievement.t2_n" format="addPercent"></th>
                            </tr>
                            <tr>
                                <th class="light-grey" notify-g-label="add-content" belong-to="finalAchievement.t1_i"></th>
                                <th class="light-grey" notify-g-label="add-content" belong-to="finalAchievement.t2_i"></th>
                            </tr>
                            <tr>
                                <th class="light-grey">指数 Indeks</th>
                                <th class="light-grey" notify-g-label="add-content" belong-to="finalAchievement.t1_f" format="addPercent"></th>
                                <th class="light-grey" notify-g-label="add-content" belong-to="finalAchievement.t2_f" format="addPercent"></th>
                            </tr>

                        </thead>
                </table>
        </div>


        <div flex="30">
                <button class="btn btn-danger" ng-hide="hasEndorse || !dlt_process.toogle_delete " ng-click="toogleDelete(dlt_process)" ng-disabled="hasChanged">{{dlt_process.dlt_message}}</button>
                <br>
                <button class="btn btn-success save-change-btn" ng-hide="hasEndorse" ng-click="saveChanged()" ng-disabled="hasChanged || toogle_delete">Simpan Perubahan 保存更改</button>
        </div>

        <div class="col-xs-12 footer-pengesahan">
            <div class="row pengesahan-header">
                    <div class="col-xs-6">
                            <p class="bold">Pengesahan 批准</p>
                        </div>
                    <div class="col-xs-6">
                            <p ng-bind-html="aggrementStr" class="blue-font bold right-text"></p>
                    </div>
            </div>


            <div class="col-xs-12">
                <div ng-repeat="endorse in kpiendorsements" ng-class="$index===0?'pengesahan1':''" class="col-xs-4">
                    {{ endorse.role.name}}:
                    <input type="checkbox" ng-change="!isEndorseDisable(endorse)?setEndorse(endorse):null" ng-disabled="isEndorseDisable(endorse)" ng-model="aggrements[endorse.id]">
                </div>
            </div>
            <div class="col-xs-12 tanda-tangan"></div>
            <div class="col-xs-12">
                <div ng-repeat="endorse in kpiendorsements" ng-class="{'blue-check':aggrements[endorse.id],'pengesahan1':$index===0}" class="col-xs-4">
                    {{ endorse.name}}
                </div>
            </div>

        </div>

    </div>


</div>
