<div class="padding-elem"></div>
<div id="realisasi-perusahaan">
    <div class="table-realisasi-perusahaan-div">
        <div class="select-year" style="margin-bottom: 20px;">
            Pilih Bulan:
            <select ng-options="m.value for m in months" ng-model="currentMonth"></select>
            Pilih Tahun:
            <select ng-options="y for y in years" ng-model="currentYear"></select>
            <a ng-click="changeDate()"><span class="glyphicon glyphicon-chevron-right black-font"></span></a>
        </div>
        <table class="table realisasi-table realisasi-perusahaan-table">
            <thead>
                <tr>
                    <th ng-repeat="head in headers" ng-class="getClass(keys[$index],$index,'heading')">{{head}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="getRowClass(data)" ng-repeat="data in kpicompanydata track by $index">
                    <td ng-repeat="i in keys" format="{{data[i+'_filter']}}" belong-to="data[i]" contenteditable="false" auto-fill="true" ng-class="getClass(i,data[i],'content')"></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="form-inline" ng-show="show_upload">
        <label for="kpi-company-file">Anda dapat meng-unggah berkas excel KPI Perusahaan</label>
        <input ng-file="kpi_company_file" accept=".xlsx,.xls,.csv" type="file" id="kpi-company-file">
        <button class="btn btn-success excl-btn-upload" ng-click="upload()">Unggah</button>
    </div>

</div>
