<div class="padding-elem"></div>
<div id="realisasi-perusahaan">

    <table class="table realisasi-table realisasi-perusahaan-table">
        <thead>
            <tr>
                <th ng-repeat="head in headers" ng-class="getClass(head,$index)">{{head}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="getRowClass(data)" ng-repeat="data in kpicompanydata track by $index">
                <td ng-repeat="i in headers" belong-to="data[i]" contenteditable="false" auto-fill="true" ng-class="getClass(i,$index)"></td>
            </tr>
        </tbody>
    </table>

    <div class="form-inline">
        <label for="kpi-company-file">Anda dapat meng-unggah berkas excel KPI Perusahaan</label>
        <input accept=".xlsx,.xls,.csv" type="file" id="kpi-company-file">
        <button class="btn btn-success excl-btn-upload">Unggah</button>
    </div>

</div>