<div class="padding-elem"></div>
<div id="realisasi-group">

    <div class="table-100 heading-content" >
        <div class="row">
                <div class="col-sm-3">Penilaian Group</div>
                <div class="col-sm-2">: {{rg.kpitag.name}}</div>
                <div class="col-sm-4">当月考核期 Periode bulan berjalan</div>
                <div class="col-sm-3">: {{ rg.pb.start }} - {{ rg.pb.end }}</div>
        </div>
        <div class="row" style="margin-top:10px;">
                <div class="col-sm-3">Penilai</div>
                <div class="col-sm-2">: {{rg.kpitag.representative.name}}</div>
                <div class="col-sm-4">当月累计考核期 Periode Kumulatif sampai bulan berjalan</div>
                <div class="col-sm-3">: {{ rg.pb.startB }} - {{ rg.pb.endB }}</div>
        </div>
        <div class="row" style="margin-top:10px;">
                <div class="col-sm-3">Atasan Penilai </div>
                <div class="col-sm-2">: {{rg.kpitag.representative.atasan.name}}</div>
        </div>
    </div>
    <div class="table-100" style="margin-top:30px;margin-bottom:30px;">
        <div class="row">
                <div class="col-sm-4">
                        Pilih Bulan:
                       <select></select>
                </div>
            </div>
    </div>
    <div class="table-100">
        <div class="table-100 realisasi-table-group-content">
            <table class="realisasi-table-group table-striped">
                <thead>
                    <tr>
                            <th rowspan="3" class="heading-color-grey num">No</th>
                            <th rowspan="3" class="kpi heading-color-grey">Nama</th>
                            <th rowspan="3" class="kpi heading-color-grey">Penugasan</th>
                            <th class="heading-color-green" notify-g-label="rg.add-content"  contenteditable="{{!rg.hasEndorse?true:false}}" after-edit="rg.setWeight" auto-fill="true" belong-to="rg.weighting.weight_result" flag="kpiresult"  format="addPercent"></th>
                            <th colspan="4" class="heading-color-green">Sasaran Hasil</th>
                            <th class="heading-color-green"></th>
                            <th class="heading-color-yellow" notify-g-label="rg.add-content" contenteditable="{{!rg.hasEndorse?true:false}}" after-edit="rg.setWeight" auto-fill="true" belong-to="rg.weighting.weight_process" flag="kpiprocess" format="addPercent"></th>
                            <th class="heading-color-yellow" colspan="7">Sasaran Proses</th>
                            <th class="heading-color-yellow"></th>
                            <th class="heading-color-grey" colspan="2">Total</th>
                    </tr>
                    <tr id="heading-table-2">
                            <th ng-repeat="heading in rg.headingmap2 track by $index" class="{{heading.attr.class}}"
                            contenteditable="{{heading.attr.contenteditable}}" rowspan="{{heading.attr.rowspan}}"
                            colspan="{{heading.attr.colspan}}" notify-g-label="{{heading.attr.notifyGLabel}}"
                            belong-to="{{heading.attr.belongTo}}" after-edit="{{heading.attr.afterEdit}}"
                            data-Id="{{heading.attr.dataID}}"></th>
                            <th rowspan="2" class="heading-color-grey kpi-content">Nilai</th>
                            <th rowspan="2" class="heading-color-grey kpi-content">Index</th>
                    </tr>
                    <tr id="heading-table-3">
                            <th ng-repeat="heading in rg.headingmap3 track by $index" class="{{heading.attr.class}}">{{heading.value}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in rg.employees track by $index">
                        <td class="num">{{$index+1}}</td>
                        <td class="kpi" belong-to="employee.name" auto-fill="true"></td>
                        <td class="kpi" belong-to="employee.role.name" auto-fill="true"></td>

                        <td class="kpi-content" ng-repeat="mapping in rg.contentMapping"
                        belong-to="employee[mapping.type][mapping.id].{{mapping.key}}"
                        format="{{employee[mapping.type][mapping.id][mapping.filter]}}" key="{{mapping.key}}" type="{{mapping.type}}"
                        sanitize="{{employee[mapping.type][mapping.id][mapping.sanitize]}}"
                        ng-class="employee[mapping.type][mapping.id][mapping.key+'BColor']"
                        contenteditable="{{employee[mapping.type][mapping.id][mapping.contenteditable]}}"
                        list-data="{{rg.isListed(mapping,employee[mapping.type][mapping.id])?'rg.datalist':null}}"
                        list-id="{{rg.isListed(mapping,employee[mapping.type][mapping.id])?'list-kpiprocess-selection':null}}"
                        on-list-selected="{{!rg.hasEndorse &&rg.isListed(mapping,employee[mapping.type][mapping.id])?'rg.onListSelected':null}}"
                        type="{{mapping.type}}" d-id="{{mapping.id}}" employee-Id="{{employee.id}}" p-index="{{$parent.$index}}"
                        after-edit="rg.onAfterEdit" notify-g-label="rg.add-content"
                        auto-fill="true"></td>

                        <td class="kpi-content bold" notify-g-label="rg.add-content" belong-to="employee.ta" format="addPercent"></td>
                        <td class="kpi-content bold" notify-g-label="rg.add-content" belong-to="employee.ia"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="table-100">
        <button class="btn btn-success save-change-btn" ng-hide="rg.hasEndorse" ng-disabled="isSaving" ng-click="rg.saveChanged()" >Simpan Perubahan 保存更改</button>
    </div>
    <div class="col-sm-12 footer-pengesahan">
        <div class="row pengesahan-header">
                <div class="col-sm-6">
                        <p class="bold">Pengesahan 批准</p>
                    </div>
                <div class="col-sm-6">
                        <p class="blue-font bold right-text">
                            HRD <span class="glyphicon glyphicon-ok"></span>
                        </p>
                </div>
        </div>


        <div class="col-sm-12">
            <div ng-repeat="endorse in rg.kpiendorsements" ng-class="$index===0?'pengesahan1':''" class="col-sm-4">
                {{ endorse.role.name}}:
                <input type="checkbox" ng-change="!rg.isEndorseDisable(endorse)?rg.setEndorse(endorse):null" ng-disabled="rg.isEndorseDisable(endorse)" ng-model="rg.aggrements[endorse.id]">
            </div>
        </div>
        <div class="col-sm-12 tanda-tangan"></div>
        <div class="col-sm-12">
            <div ng-repeat="endorse in rg.kpiendorsements" ng-class="{'blue-check':rg.aggrements[endorse.id],'pengesahan1':$index===0}" class="col-sm-4">
                {{ endorse.name}}
            </div>
        </div>

    </div>

</div>
</div>
