<div class="padding-elem"></div>
<div id="realisasi-group">

    <div class="table-100 heading-content" >
        <div class="row">
                <div class="col-sm-4">当月考核期 Periode bulan berjalan</div>
                <div class="col-sm-3">: 16 Aug 八月 2019 - 16 Sept 九月 2019</div>
        </div>
        <div class="row" style="margin-top:10px;">
                <div class="col-sm-4">当月累计考核期 Periode Kumulatif sampai bulan berjalan</div>
                <div class="col-sm-3">: 16 Dec 十二月 2018 - 16 Sept 九月 2019</div>
        </div>
    </div>
    <div class="table-100" style="margin-top:30px;">
        <div class="row">
                <div class="col-sm-4">
                        Pilih Bulan:
                       <select></select>
                </div>
            </div>
    </div>
    <div class="table-100">
        <p class="table-title bold">
            Operator Rotary Drier
        </p>
        <div class="table-100 realisasi-table-group-content">
            <table class="realisasi-table-group table-striped">
                <thead>
                    <tr>
                            <th rowspan="3" class="heading-color-grey num">No</th>
                            <th rowspan="3" class="kpi heading-color-grey">Nama</th>
                            <th rowspan="3" class="kpi heading-color-grey">Penugasan</th>
                            <th class="heading-color-green">20%</th>
                            <th colspan="4" class="heading-color-green">Sasaran Hasil</th>
                            <th class="heading-color-green"></th>
                            <th class="heading-color-yellow">20%</th>
                            <th class="heading-color-yellow" colspan="7">Sasaran Proses</th>
                            <th class="heading-color-yellow"></th>
                            <th class="heading-color-grey" colspan="2">Total</th>
                    </tr>
                    <tr>
                        <th colspan="2" class="heading-color-green">Kapasitas produksi (WMT)</th>
                        <th rowspan="2" class="heading-color-green kpi-content">KPI Achievement</th>
                        <th colspan="2" class="heading-color-green">Kualitas Dried Ore</th>
                        <th rowspan="2" class="heading-color-green kpi-content">KPI Achievement</th>
                        <th colspan="2" class="heading-color-yellow">Kehadiran</th>
                        <th rowspan="2" class="heading-color-yellow kpi-content">KPI Achievement</th>
                        <th colspan="2" class="heading-color-yellow">Semangat Berprestasi</th>
                        <th rowspan="2" class="heading-color-yellow kpi-content">KPI Achievement</th>
                        <th colspan="2" class="heading-color-yellow">Kerjasama Kelompok</th>
                        <th rowspan="2" class="heading-color-yellow kpi-content">KPI Achievement</th>

                        <th rowspan="2" class="heading-color-grey kpi-content">Nilai</th>
                        <th rowspan="2" class="heading-color-grey kpi-content">Index</th>
                    </tr>
                        <tr>
                                <th class="heading-color-green kpi-content">Target</th>
                                <th class="heading-color-green kpi-content">Realisasi</th>

                                <th class="heading-color-green kpi-content">Target</th>
                                <th class="heading-color-green kpi-content">Realisasi</th>

                                <th class="heading-color-yellow kpi-content">Target</th>
                                <th  class="heading-color-yellow kpi-content">Realisasi</th>


                                <th  class="heading-color-yellow kpi-content">Target</th>
                                <th  class="heading-color-yellow kpi-content">Realisasi</th>

                                <th  class="heading-color-yellow kpi-content">Target</th>
                                <th  class="heading-color-yellow kpi-content">Realisasi</th>


                            </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in []|range:40">
                        <td class="num">{{i+1}}</td>
                        <td class="kpi">Kuded</td>
                        <td class="kpi">Operator Hehe</td>

                        <td class="kpi-content">100,000</td>
                        <td class="kpi-content">150,000</td>
                        <td class="kpi-content">100%</td>

                        <td class="kpi-content">Baik</td>
                        <td class="kpi-content">Baik</td>
                        <td class="kpi-content">100%</td>

                        <td class="kpi-content">Baik</td>
                        <td class="kpi-content">Baik</td>
                        <td class="kpi-content">100%</td>

                        <td class="kpi-content">Baik</td>
                        <td class="kpi-content">Baik</td>
                        <td class="kpi-content">100%</td>

                        <td class="kpi-content">Baik</td>
                        <td class="kpi-content">Baik</td>
                        <td class="kpi-content">100%</td>


                        <td class="kpi-content">100%</td>
                        <td class="kpi-content">A</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
