<div class="padding-elem"></div>
<div id="realisasi-group">

    <div class="table-100 heading-content" >
        <div class="row">
                <div class="col-sm-3">Penilaian Group</div>
                <div class="col-sm-2">: {{rg.kpitag.name}}</div>
                <div class="col-sm-4">当月考核期 Periode bulan berjalan</div>
                <div class="col-sm-3">: {{ rg.pb.start }} - {{ rg.pb.end }}</div>
        </div>
        <div class="row" style="margin-top:10px;">
                <div class="col-sm-3">Penilai</div>
                <div class="col-sm-2">: {{rg.kpitag.representative.name}}</div>
                <div class="col-sm-4">当月累计考核期 Periode Kumulatif sampai bulan berjalan</div>
                <div class="col-sm-3">: {{ rg.pb.startB }} - {{ rg.pb.endB }}</div>
        </div>
        <div class="row" style="margin-top:10px;">
                <div class="col-sm-3">Atasan Penilai </div>
                <div class="col-sm-2">: {{rg.kpitag.representative.atasan.name}}</div>
        </div>
    </div>
    <div class="table-100" style="margin-top:30px;">
        <div class="row">
                <div class="col-sm-4">
                        Pilih Bulan:
                       <select></select>
                </div>
            </div>
    </div>
    <div class="table-100">
        <p class="table-title bold">
            Operator Rotary Drier
        </p>
        <div class="table-100 realisasi-table-group-content">
            <table class="realisasi-table-group table-striped">
                <thead>
                    <tr>
                            <th rowspan="3" class="heading-color-grey num">No</th>
                            <th rowspan="3" class="kpi heading-color-grey">Nama</th>
                            <th rowspan="3" class="kpi heading-color-grey">Penugasan</th>
                            <th class="heading-color-green" notify-g-label="rg.add-content"  contenteditable="true" after-edit="rg.setWeight" auto-fill="true" belong-to="rg.weighting.weight_result" flag="kpiresult"  format="addPercent"></th>
                            <th colspan="4" class="heading-color-green">Sasaran Hasil</th>
                            <th class="heading-color-green"></th>
                            <th class="heading-color-yellow" notify-g-label="rg.add-content" contenteditable="true" after-edit="rg.setWeight" auto-fill="true" belong-to="rg.weighting.weight_process" flag="kpiprocess" format="addPercent"></th>
                            <th class="heading-color-yellow" colspan="7">Sasaran Proses</th>
                            <th class="heading-color-yellow"></th>
                            <th class="heading-color-grey" colspan="2">Total</th>
                    </tr>
                    <tr id="heading-table-2">
                    </tr>
                    <tr id="heading-table-3"></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in rg.employees track by $index">
                        <td class="num">{{$index+1}}</td>
                        <td class="kpi" belong-to="employee.name" auto-fill="true"></td>
                        <td class="kpi" belong-to="employee.role.name" auto-fill="true"></td>

                        <td class="kpi-content" ng-repeat="mapping in rg.contentMapping"
                        belong-to="employee[mapping.type][mapping.id].{{mapping.key}}"
                        format="{{employee[mapping.type][mapping.id][mapping.filter]}}"
                        sanitize="{{employee[mapping.type][mapping.id][mapping.sanitize]}}"
                        ng-class="employee[mapping.type][mapping.id][mapping.key+'BColor']"
                        contenteditable="{{employee[mapping.type][mapping.id][mapping.contenteditable]}}"
                        list-data="{{mapping.type==='kpiprocess'?'rg.datalist':null}}"
                        list-id="{{mapping.type==='kpiprocess'?'list-kpiprocess-selection':null}}"
                        on-list-selected="{{mapping.type==='kpiprocess'?'rg.onListSelected':null}}"
                        type="{{mapping.type}}"
                        after-edit="rg.onAfterEdit" notify-g-label="rg.add-content"
                        auto-fill="true"></td>

                        <td class="kpi-content bold" notify-g-label="rg.add-content" belong-to="employee.ta" format="addPercent"></td>
                        <td class="kpi-content bold" notify-g-label="rg.add-content" belong-to="employee.ia"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
