<div id="target-manajemen">
    <div class="row">
            <h6 class="bold title">Pengguna 用户</h6>
            <div class="bottom-border"></div>
        <table class="table table-beranda">
            <thead>
                <th>Nama 名</th>
                <th>Jabatan 办公室</th>
                <th>Nama Atasan 老板的名字</th>
                <th>Jabatan Atasan 办公室</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#!/realisasi/{{ user.id}}">{{ user.name }}</a> </td>
                    <td>{{ user.role.name }}</td>
                    <td>{{ user.atasan.name }}</td>
                    <td>{{ user.atasan.role.name }}</td>
                </tr>
            </tbody>
        </table>

        <h6 class="bold title margin-1">Staff/Bawahan 下属</h6>
        <div class="bottom-border"></div>
        <div class="user-list-box">
            <span ng-repeat="employee in employeeList">{{ $index!==0?'&rarr;':'' }} <a ng-click="expandEmployee(employee)">{{ employee.name }}</a> </span>
        </div>


        <table class="table table-borderless table-beranda">
            <thead>
                <th>Nama 名</th>
                <th>Jabatan 办公室</th>
                <th>Aksi 行动</th>
            </thead>
            <tbody>
                <tr ng-repeat="bawahan in staffs">
                    <td><a ng-click="toPMS(bawahan)">{{ bawahan.name }}</a> </td>
                    <td>{{ bawahan.role.name }}</td>
                    <td><button ng-click="expandEmployee(bawahan)" class="btn btn-primary">Daftar Bawahan 下属名单</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

