/* Upper */

.save-change-btn{
    margin-top:20px;
}

.realisasi-table{
    width: 1700px;
    margin-left: -10px;
}

/*Table*/

.realisasi-table tbody {
    display:block;
    height:250px;
    overflow:auto;
}
.realisasi-table thead, .realisasi-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.realisasi-table thead ,.realisasi-table body {
    width: calc( 100% - 1em )
}

.realisasi-table thead tr:nth-child(2) th{
    text-align: left;
}

.realisasi-table thead tr th.kpi{
    width:200px !important;
} 

.realisasi-table tbody tr td.kpi{
    width: 210px;
}

.realisasi-table thead tr th.kpi-process{
    width: 200px !important;
} 

.realisasi-table tbody tr td.kpi-process{
    width: 236px;
}

.num-column{
    width:100px;
    text-align: left;
}

.realisasi-process-table thead tr th{
    text-align: left;
}

.f-column{
    padding-bottom: 30px !important;
}

.table-title{
    margin-top:25px;
}

/*Pengesahan*/

.pengesahan1{
    margin-left:-15px;
}

.margin-pengesahan{
    margin-top:60px;
}

.tanda-tangan{
    height:50px;
} 

.footer-pengesahan{
    background-color: lightgreen;
    margin-bottom:20px;
    margin-top:20px;
    /* width: 1700px; */
}

.blue-check{
    color:blue;    
} 

.jabatan-btn{
    margin-left:5px;
    width:50px;
    float:left;
}

.padding-jabatan{
    width:40px;
}

/*Table color*/

.red-column,.blue-column,.green-column{
    color:white;
}

.dSelected{
    background-color:lightgrey;
}

.red-column{
    background-color: red;
}

.blue-column{
    background-color: blue;
}

.green-column{
    background-color: green;
}

.black-column{
    background-color: black;
    color:white;
}

.gold-column{
    background-color: #FFB81F;
    color:red;
}

.gold-font{
    color:#FFB81F;
}

.red-font{
    color: red;
}

.blue-font{
    color: blue;
}

.green-font{
    color: green;
}

/*Realisasi Perusahaan*/

.realisasi-perusahaan-table{
    width: 2000px !important;
}

.realisasi-perusahaan-table tbody {
    height:350px;
}

.realisasi-perusahaan-table tbody tr td.kpi,
.realisasi-perusahaan-table thead tr th.kpi{
    width: 230px;
}

.row-head{
    background-color: rgb(226, 239, 218);
    font-weight: bold;
}

.kpi-num{
    width:150px;
}

.excl-btn-upload{
    margin-top: 15px;
}
