/* Upper */

.save-change-btn{
    margin-top:20px;
}

.realisasi-table{
    width: 1700px;
    margin-left: -10px;

}

.heading-content{
    background-color: #f2f3f5;
    width: 1700px;
}

/*Table*/

.realisasi-table tbody {
    display:block;
    max-height:250px;
    overflow:auto;
}

.realisasi-table thead tr th{
    border:1px solid #9599a1 !important;
}



.realisasi-table thead, .realisasi-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.realisasi-table thead ,.realisasi-table body {
    width: calc( 100% - 1em )
}

.realisasi-table thead tr:nth-child(2) th{
    text-align: left;
}

.realisasi-table tbody tr td.num,.f-column-num{
    width: 40px;
}


.realisasi-table thead tr th.kpi{
    width:200px !important;
}

.realisasi-table tbody tr td.kpi{
    width: 210px;
}

.realisasi-table thead tr th.kpi-process{
    width: 200px !important;
}

.realisasi-table tbody tr td.kpi-process{
    width: 236px;
}

.table-realisasi-div{
    width: 1700px;
}

.num-column{
    width:100px;
    text-align: left;
}

.realisasi-process-table thead tr th{
    text-align: left;
}

.f-column{
    padding-bottom: 30px !important;
}



.table-title{
    margin-top:20px;
}

/*Pengesahan*/

.pengesahan1{
    margin-left:-15px;
}

.margin-pengesahan{
    margin-top:60px;
}

.tanda-tangan{
    height:50px;
}

.footer-pengesahan{
    background-color: #f2f3f5;
    margin-bottom:20px;
    margin-top:20px;
    box-shadow: 5px 5px #dadfeb;
    margin-top:30px;
    /* width: 1700px; */
}

.blue-check{
    color:blue;
}

.can-edit-content{
    color:#443ad3da;
}

.jabatan-btn{
    margin-left:5px;
    width:50px;
    float:left;
}

.padding-jabatan{
    width:40px;
}

.pengesahan-header{
    margin-bottom:20px;
}

/*Table color*/

.red-column,.blue-column,.green-column{
    color:white;
}

.dSelected{
    background-color:lightgrey;
}

.red-column{
    background-color: red;
}

.blue-column{
    background-color: blue;
}

.green-column{
    background-color: green;
}

.black-column{
    background-color: black;
    color:white;
}

.gold-column{
    background-color: #FFB81F;
    color:red;
}

.gold-font{
    color:#FFB81F;
}

.red-font{
    color: red;
}

.blue-font{
    color: blue;
}

.green-font{
    color: green;
}

.black-font{
    color:slategray;
}

/*Final Achievement*/
.first-final{
    margin-bottom:15px;
}


/*Realisasi Perusahaan*/

.realisasi-perusahaan-table,.table-realisasi-perusahaan-div{
    width: 2000px !important;
}

.realisasi-perusahaan-table tbody {
    height:350px;
}

.realisasi-perusahaan-table thead tr th{
    background-color: #FDE9D9;
}

.realisasi-perusahaan-table tbody tr td.kpi,
.realisasi-perusahaan-table thead tr th.kpi{
    width:250px
}

.row-head{
    background-color: rgb(226, 239, 218);
    font-weight: bold;
}

.kpi-num{
    width:150px;
}

.excl-btn-upload{
    margin-top: 15px;
}

.ol-color{
    font-weight: bold;
}
