.dropdown-item{
    display:block;
}

.dropdown-menu{
    top:initial;
    left:initial;
}

.table-beranda{
    margin-top:20px;
    width: 1100px;
}

.table-beranda thead th,.table-beranda tbody tr td{
    text-align: left;
}

.table-beranda thead th.num,.table-beranda tbody tr td.num{
    width: 200px;
}

.title{
    font-size: 15px;
    color:grey;

}

.log-content{
    height: 150px;
    overflow: auto;
    width: 85%;
    margin-bottom: 30px;
}

.bottom-border{
    border-bottom:solid #adacac;
    width: 1100px;
}

.user-list-box{
    margin-top:20px;
}

.margin-1{
    margin-top:80px;
}

.refresh-log{
    margin-left: 0.5em;
}
