<div id="edit-password">
        <div class="row">
            <div class="col-sm-6">
                <h6 class="bold title">Sunting Kata Sandi</h6>
                <div class="bottom-border"></div>
            </div>
        </div>
        <div class="row container profile-form">
            <div class="form-group">
                <label for="name">Kata Sandi Lama:</label>
                <input type="password" class="form-control" ng-model="ep.password.password" id="name" placeholder="Masukan kata sandi lama">
                <label class="error-message" ng-show="ep.errors.password">{{ep.errors.password}}</label>
              </div>
              <div class="form-group">
                <label for="email">Kata Sandi Baru:</label>
                <input type="password" class="form-control" ng-model="ep.password.new" placeholder="Masukan kata sandi baru">
                <label class="error-message" ng-show="ep.errors.new">{{ep.errors.newpassword}}</label>
              </div>
              <div class="form-group">
                    <label for="email">Masukan kembali kata sandi baru:</label>
                    <input type="password" class="form-control" ng-model="ep.password.retype" placeholder="Masukan kembali kata sandi baru anda">
                    <label class="error-message" ng-show="ep.errors.retype">{{ep.errors.retype}}</label>
                </div>
              <button type="button" class="btn btn-default" ng-disabled="ep.disabledSubmit" ng-click="ep.submit()">Kirim</button>
        </div>
    </div>
