/*Halaman PDF PMS*/


.pms-title{
    font-weight: bold !important;
}

.head-title{
    font-family: 'Cambria';
    color:purple;
    font-weight: bold;
    font-size: 50px;
    padding-left:-60px;
}

.head-image{
    width: 100px;
    height: 50px;
}

.margin-heading{
    margin-top:25px;
}

.table-content{
    margin-top:30px;
}

.table-pdf{
    font-size:10px;
}

.table-pdf thead tr th,
.table-pdf tbody tr td.num-content{
    text-align: center;
}
