/*Halaman PDF PMS*/


.pms-title{
    font-weight: bold !important;
}
.text-center{
    text-align: center;
}

.title-row{
    margin-top: 20px;
}

.head-title{
    font-family: 'Cambria';
    color:black;
    font-weight: bold;
    font-size: 50px;
    padding-left:-60px;
}

.head-image{
    width: 110px;
    height: 100px;
}

.margin-heading{
    margin-top:25px;
}

.table-content{
    margin-top:10px;
}

.table-pdf{
    font-size:10px;
}

.table-pdf thead tr th,
.table-pdf tbody tr td{
    padding:5px auto;
}

.table-pdf thead tr th,
.table-pdf tbody tr td.num-content{
    text-align: center;
    width:80px;
}

.table-pdf thead tr th,
.table-pdf tbody tr td.index-content{
    text-align: center;
    width:10px;
}

.table-pdf tbody tr td.kpi-content{
    width:150px;
    padding:15px 10px;
}

.table-pdf thead tr th{
    font-weight: bold;
}

/*Halaman Pengesahan*/
.tanda-tangan{
    height: 50px;
}

/*Table color*/


.red-column{
    color: red;
}

.blue-column{
    color: blue;
}

.green-column{
    color: green;
}

.black-column{
    color: black;
}
