/*Halaman PDF PMS*/

body{
    font-family:'msyh';
}



.head-title{
    font-family: 'Cambria';
    color:purple;
    font-weight: bold;
    font-size: 50px;
    padding-top:-20px;
    padding-left:70px;
}

.head-image{
    width: 100px;
    height: 50px;
}

.margin-heading{
    margin-top:25px;
}

.table-content{
    margin-top:50px;
}

.table-pdf{
    font-size:10px;
}

.table-pdf thead tr th,
.table-pdf tbody tr td.num-content{
    text-align: center;
}
