<div id="target-manajemen">
    <div class="row">
            <h6 class="bold title">Pengguna 用户</h6>
            <div class="bottom-border"></div>
        <table class="table table-beranda">
            <thead>
                <th>Nama 名</th>
                <th>Jabatan 办公室</th>
                <th>Nama Atasan 老板的名字</th>
                <th>Jabatan Atasan 办公室</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.role.name }}</td>
                    <td>{{ user.atasan.name }}</td>
                    <td>{{ user.atasan.role.name }}</td>
                </tr>
            </tbody>
        </table>

        <h6 class="bold title margin-1">Staff/Bawahan 下属</h6>
        <div class="bottom-border"></div>

        <div class="user-list-box">
            <span ng-repeat="employee in employeeList">{{ $index!==0?'&rarr;':'' }} <a ng-click="expandEmployee(employee,$index)">{{ employee.name }}</a> </span>
        </div>

        <table class="table table-borderless table-beranda">
            <thead>
                <th>Nama 名</th>
                <th>Jabatan 办公室</th>
                <th>Aksi 行动</th>
            </thead>
            <tbody>
                <tr ng-repeat="bawahan in staffs">
                    <td><a href="#!/realisasi/{{ bawahan.id}}">{{ bawahan.name }}</a> </td>
                    <td>{{ bawahan.role.name }}</td>
                    <td><button ng-click="expandEmployee(bawahan)" class="btn btn-primary">Daftar Bawahan 下属名单</button></td>
                </tr>
            </tbody>
        </table>

        <h6 class="bold title margin-1">Log
            <a ng-click="refreshLog()"><span class="glyphicon glyphicon-refresh refresh-log black-font"></span></a>

        </h6>

        <div class="bottom-border"></div>

        <div class="log-content">
            <form class="form-inline form-log">
                    <div class="form-group">
                      <input type="text" ng-keyup="onLogKeyUp($event)" placeholder="masukan nama karyawan yang ingin dicari" ng-model="searchTextLog" class="form-control" id="email">
                      <button type="button" ng-click="searchLog()" class="btn btn-success">Cari</button>
                    </div>
                  </form>
            <table class="table table-beranda">
                <thead>
                    <th class="num">Pengguna</th>
                    <th >Pesan</th>
                    <th>Tanggal</th>
                </thead>
                <tbody>
                    <tr ng-repeat="log in logs" ng-class="log.style">
                        <td class="num">{{log.user.employee.name}}</td>
                        <td >{{log.message}}</td>
                        <td>{{log.created_at}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" ng-click="initLog()" ng-hide="isLogHide" ng-disabled="isLoadingLog">Muat Lebih</button>
        </div>
    </div>
</div>

